body {
    background-color: #0000fe;
}

table {
    border: 2px solid yellow;
    border-spacing: 8px;
}

tr, td {
    background-color: burlywood;
    border-right: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-left: 2px solid yellow;
    padding: 15px;
}

a {
    font-style: italic;
}