body { /* svim elementima -- asterisk, ili body */
	margin: 0;
	padding: 0;
	font-family: "Merriweather Sans", sans-serif;
	/*
	https://fontawesome.com/v4/icons/
	https://fontawesome.com/v4/get-started/
	https://fontawesome.com/v4/examples/
	*/
}

.container {
	margin: 0 13%;
}

.kontakt {
	background-color: #49688E;
	margin: 0;
	padding: 7px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.kontakt a {
	color: #ffffff;
	text-decoration: none;
}

.kontakt .fa {
	color: #ffab1f;
}

.logo img {
	width: 100px;
	margin: 20px;
}

.logo h1 {
	margin-top: 45px;
	margin-bottom: 5px;
}

.logo a {
	text-decoration: none;
	color: #294a70;
}

.logo p {
	margin-top: 0px;
	color: #666;
}

.tekst-logo {
	display: inline-block;
	vertical-align: top; /* MNOGO VAZNO, pozicioniranje slike/logo-a i teksta! */
}

.meni {
	background-color: #294a70;
	border-bottom: 5px solid #f4a024;
	height: 45px;
}

.meni ul,
.meni li {
	display: block; /* Try removing `float` or adding `display:block`. */
}

.meni li {
	float: left; /* plivanje u odnosu na tekst */
}

.meni a {
	color: #fff;
	padding: 13px;
	height: 19px;
	text-decoration: none;
	display: inline-block;
}

.meni a:hover {
	background-color: #f4a024;
}

.studije {
	background-color: #eee;
}

.studije h2 {
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	color: #555;
	font-size: 21px;
}

/* css-tricks -> flex properties -> link naci! */

.studije .row {
	display: flex;
}

.studije .item {
	margin: 5px;
	padding: 20px;
	border-radius: 5px;
	flex-basis: -moz-available;
}

/* flex -> elementi se redaju slijeva nadesno i zauzimaju onoliko prostora koliko im treba! */

.studije .item h3 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}

.studije .item p {
	color: #fff;
	font-size: 12px;
}

.studije .item a {
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
}

.studije .item a:hover {
	background-color: #fff;
	color: #555;
	transition: 1s;
}

.zuta {
	background-color: #b7c904;
}

.crvena {
	background-color: #d75949;
}

.plava {
	background-color: #00979e;
}
